# Public
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_ADMIN_URL=http://localhost:3001

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Preview security
PREVIEW_SECRET=

# Optional later integrations
# BLOB_STORAGE_PROVIDER=
# ANALYTICS_WRITE_KEY=
